<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722305456436-9hi3gvlr2ghkfu5lmu3rd1539r7cfeba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722305456436-9hi3gvlr2ghkfu5lmu3rd1539r7cfeba</string>
	<key>API_KEY</key>
	<string>AIzaSyBGJEAd-EJdM_j6IGnBFphVoma_wcm1SmY</string>
	<key>GCM_SENDER_ID</key>
	<string>722305456436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ascentic.centicbids</string>
	<key>PROJECT_ID</key>
	<string>centicbids-459e0</string>
	<key>STORAGE_BUCKET</key>
	<string>centicbids-459e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722305456436:ios:5c78cf8663a0e6f24a6d61</string>
</dict>
</plist>